.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h3 {
  margin-left: 20px;
  margin-bottom: 0;
}

button {
  margin: 10px 0;
  padding: 5px 10px;
}

.wrapper {
  padding: 10px;
  border: 2px solid #efefef;
  margin-bottom: 10px;
}

.box-wrapper {
  border: 2px solid #f76cb2;
  width: max-content;
}

#root {
  padding: 10px;
}


div{
  padding: 10px;
}

ul {
  margin-top: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
